<!-- Loading the static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Setting the title of the page to "Notes App" -->
    <title>{% block title %}Notes App{% endblock %}</title>
    <!-- Including the CSS file -->
</head>
    <link rel="stylesheet" href="{% static 'css/dark_theme.css' %}">
</head>
<body>
    <div id="content">
        <!-- Defining a block for the main content of the page -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
