{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notes App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dark_theme.css' %}">
</head>
<body>

    <div id="content">
        {% block content %}
            <!-- Content of the child template will go here -->
        {% endblock %}
    </div>

    <!-- Add your footer content or scripts here -->

</body>
</html>
