{% extends 'base_generic.html' %}

{% block content %}
  <h1>Notes</h1>
  <a href="{% url 'add_note' %}" class="button">Add Note</a>
  <ul>
    {% for note in notes %}
      <li>
        {{ note.date_added }} - {{ note.text }}
        <form method="post" action="{% url 'edit_note' pk=note.pk %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="button button-edit">Edit</button>
        </form>
        <form method="post" action="{% url 'delete_note' pk=note.pk %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="button button-delete">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
